# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Environment files
.env
.env.*

# Git metadata and local development stuff
.git/
.gitignore
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs / temp files
*.log
tmp/
logs/

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

tests/
*.gitkeep
README.md
